<div class="flexbox">
   <% @shop.each do |shop| %>
      <div class="posts-index-image">
         <%= image_tag "/#{shop.shop_image}" %>
      </div>
      <div class="posts-index-item">
         <p>店名</p>
         <%=shop.name %>
      </div>
      <div class="posts-index-item">
      　  <p>住所</p>
         <%=shop.adress %>
      </div>
      <div class="posts-index-item">
         <p>電話番号</p>
         <%=shop.phone_number %>
      </div>
    <% end %>  
</div>
<div class="modal_container">
  <div class="row">
     <div class="col-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          新規投稿
        </button>
     </div>
    <div class="col-9 posts">
      <%= render 'posts', posts: @posts %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= form_for(@post, url: {controller: 'home', action: 'create' }, remote: true) do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :name, "名前" %>
               <%= f.text_field :name, class: "form-control" %>
            </div>
             <div class="form-group">
              <%= f.label :body, "クチコミ" %>
              <%= f.text_area :body, class: "form-control" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>